<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>H5 Door</title>
    <style>
        #root{
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id="root"></div>
</body>
<!-- <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=0d3938237e81bfe3520e66f2de6261e7"></script> -->
<!-- <script src="//webapi.amap.com/ui/1.1/main.js?v=1.1.1"></script> -->

</html>